* {
    font-family: 'Poppins', sans-serif;

}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #252525;

}




.icons {
    width: 25px;
    height: 25px;
    filter: invert(99);
}


#nome_header {
    margin-left: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 10px;
    width: 98%;
    background-color: rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    color: #f3eeee;
    flex-direction: row;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 3px;
    margin-right: 20px;

}

nav ul li {
    margin: 0 10px;
}




/*Seacao aprecentacao*/
section {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    color: #f3eeee;
}



.apresentacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 98%;
    height: 500px;

    flex-direction: row;

}


.apresentacao_text {
    margin-left: 40px;
}

.img_perfil {
    width: 200px;
    height: 200px;
    margin-right: 40px;
    border-radius: 50%;
    background-image: url("imagens/Deureck.jpeg");
    background-size: cover;
    background-position: center;
}

/* projetos */
.projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 98%;
    height: 500px;
    flex-direction: column;
}

.projetos_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 98%;
    height: 500px;
    flex-direction: row;
}

.projeto_card {

    width: 300px;
    height: 250px;
    color: transparent;


    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.projeto_card:hover {
    color: #000000;
}









.experiencia_card {
    margin-top: 10px;
    margin-bottom: 10px;
}





.experiencia_palavra_chave {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}


.experiencia_palavras_chaves {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #4bc011ec;
    color: #0e460b;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 120px;
    height: 30px;
    align-items: center;
    justify-content: center;
}